/* App container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  font-family: 'Frank Ruhl Libre', serif;
}

/* Calculator container */
.CalcContainer {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* Calculator title */
h1 {
  color: #ff6f61;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Calculator display */
.CalcDisplay {
  font-size: 36px;
  background-color: #4d4d4d;
  color: #ff6f61;
  padding: 10px;
  border: 1px solid #666;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: right;
  padding-right: 10px;
}

/* Button container */
.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  border-radius: 50%;
}

/* Calculator buttons */
.CalcButton {
  font-size: 28px;
  padding: 20px 0;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 50%; /* Add rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  user-select: none; /* Prevent text selection */
  box-shadow: 0px 0px 10px rgba(236, 139, 139, 0.4);
}

/* Button hover effect */
.CalcButton:hover {
  background-color: #ff5246;
}

/* Clear button */
.clear {
  background-color: #333;
  color: #ff6f61;
  border: 2px solid #ff6f61;
  border-radius: 50%;
}

/* Operator buttons */
.operator {
  background-color: #ffac3d;
}

/* Equals button */
.equals {
  background-color: #ffc24d;
  color: #333;
}

.CalcButtonNum {
  border-radius: 40%;
  box-shadow: 0px 0px 10px rgba(214, 203, 203, 0.4);
}

.CalcButtonNum:hover {
  background-color: #beb9b9;
}

.CalcButtonName {
  font-size: 28px;
  background-color: #ac9b9a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(207, 196, 196, 0.4);
  width:90%;
  border-radius: 5%;
  margin-top: 2%;
}

.clear {
  border-radius: 40%;
  box-shadow: 0px 0px 10px rgba(214, 203, 203, 0.4);
}

.clear:hover {
  background-color: #1d1b1b;
}